/*центрирование контента*/
.centered {
  position: fixed;
  left: 50%;
}
/*измение шрифтов*/
.verdanaFont {
  font-size:13px;
  font-family:Verdana;
}
.segoePrintFont {
  font-size:14px;
  font-family:"Segoe Print";
}
/*скрытие елемента разметки*/
.invisible {
  display:none;
}
